body {
    font-family: Arial, sans-serif;
    background-color: #4169e1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #6495ed;
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.top-half {
    background-color: #3498db;
    height: 50vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: white;
}

.bottom-half{
    background-color: #87ceeb; 
    height: 50vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: white;
}
.mail {
    background-attachment: 6495ed;
    text-align: center;
    color: white;
}
h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #87ceeb;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #87ceeb;
}

.contact {
    justify-content: left;
    text-align: left;
    background-color: 87ceeb;
    color: white;
    font-size: 16;
    padding:10px;
}

.img1 {
    justify-content: right;
    text-align: right;
}